*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
    background-image: url('https://img.freepik.com/free-photo/sunshine-clouds-sky-during-morning-background-blue-white-pastel-heaven-soft-focus-lens-flare-sunlight-abstract-blurred-cyan-gradient-peaceful-nature-open-view-out-windows-beautiful-summer-spring_1253-1092.jpg?size=626&ext=jpg&ga=GA1.2.847696300.1696835866&semt=ais');
    background-repeat: no-repeat;
    background-size: cover;
   
}
.container{
    width: 450px;
    background: linear-gradient(130deg, rgb(67, 98, 156), rgb(114, 122, 158) );
    background-image: url('https://images.pexels.com/photos/281260/pexels-photo-281260.jpeg?cs=srgb&dl=pexels-francesco-ungaro-281260.jpg&fm=jpg');
    color: white;

    padding: 30px;
    margin: 90px auto ;
    border-radius: 10px;
    text-align: center;
    opacity: 0.6;
}
.search{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.search input{
    border: 0;
    outline: 0;
    padding: 12px 22px;
    flex:1;
    margin-right:20px ;
    border-radius: 30px;
    font-size: 18px;
    background-color: rgb(233, 248, 248);
    color:black
    

}

.search button{
    border:0;
    outline: 0;
    background-color: rgb(233, 248, 248) ;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.search button img{
    width:26px;
    height: 26px;
}
.weather .icon{
    margin-top: 20px;
    width: 160px;

}
.weather h2{
    font-size: 40px;
    font-weight: 400;
    margin-top: -10px;
}
.detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 45px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 27px;
}
.error{
    text-align: left;
    color: red;
    margin-top: 5px;
    margin-left: 5px;
    display: none;

}